.generic_error_bg {
  height: 400px;
  background-position: center;
}

.generic_error_bg h1 {
  font-size: 80px;
  color: #d4af37;
}

.generic_error_bg h3 {
  font-size: 80px;
}

.generic_error_link {
  color: #fff !important;
  padding: 10px 20px;
  background: #d4af37;
  margin: 20px 0;
  display: inline-block;
}

.generic_error_content_box {
  margin-top: -50px;
}
