<h1 mat-dialog-title>{{fields.pageTitle}}</h1>
<mat-dialog-content class="row">
  <div
    class="commessa-row mat-elevation-z4"
    *ngFor="let commessa of commesse"
    (click)="commesseService.setDefault(commessa)"
    [ngClass]="{'commessa-row-selected': commesseService.isDefault(commessa)}"
  >
    <img mat-card-image src="/assets/images/{{commessa.img}}" alt="">
    <div>
      <h2>{{commessa.key}}</h2>
      <p>{{commessa.description}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="commessa-close-button">{{fields.pageCloseButton}}</button>
</mat-dialog-actions>
