<div class="general-content">

  <form class="form-container" [formGroup]="personalInformation" (ngSubmit)="onUpdateProfile()">
    <mat-card>

      <mat-card-header class="title-centered">
        <mat-card-title>{{fields.profileSectionTitle}}</mat-card-title>
      </mat-card-header>

      <br/>

      <mat-card-content>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="name" matInput="" placeholder="{{fields.nameLabel}}" [value]="profile.name" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="surname" matInput="" placeholder="{{fields.surnameLabel}}" [value]="profile.surname" [readonly]=true>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="email" matInput="" placeholder="{{fields.emailLabel}}" [value]="profile.email" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="fiscalCode" formControlName="fiscalCode" matInput="" placeholder="{{fields.fiscalCodeLabel}}">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="address" formControlName="address" matInput="" placeholder="{{fields.addressLabel}}">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input id="city" formControlName="city" matInput="" placeholder="{{fields.cityLabel}}">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input id="postalCode" formControlName="postalCode" matInput="" placeholder="{{fields.postalCodeLabel}}">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <mat-label>{{fields.birthDateLabel}}</mat-label>
              <input
                id="birthDate"
                formControlName="birthDate"
                matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-label>{{fields.ageLabel}}</mat-label>
              <mat-select id="age" formControlName="age">
                <mat-option *ngFor="let age of ageList" [value]="age.value">
                  {{age.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-label>{{fields.genderLabel}}</mat-label>
              <mat-select id="gender" formControlName="gender">
                <mat-option *ngFor="let sex of sexList" [value]="sex.value">
                  {{sex.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <span class="link-text" (click)="navigateToAccountManagement()">{{fields.accountManagementText}}</span>
        </div>


      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button="" color="form" type="submit">{{fields.saveButtonText}}</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
