<div class="general-content">

  <form class="form-container" [formGroup]="personalInformation" (ngSubmit)="onSubmit()">
    <mat-card>

      <mat-card-header class="title-centered">
        <mat-card-title>Profilo Utente</mat-card-title>
      </mat-card-header>

      <br/>

      <mat-card-content>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="name" matInput="" placeholder="Nome" [value]="profile.name" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="surname" matInput="" placeholder="Cognome" [value]="profile.surname" [readonly]=true>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="email" matInput="" placeholder="Email" [value]="profile.email" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="fiscalCode" formControlName="fiscalCode" matInput="" placeholder="Codice fiscale">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input id="address" formControlName="address" matInput="" placeholder="Indirizzo di residenza">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input id="city" formControlName="city" matInput="" placeholder="Città">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input id="postalCode" formControlName="postalCode" matInput="" placeholder="CAP">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <mat-label>Data di nascita</mat-label>
              <input
                id="birthDate"
                formControlName="birthDate"
                matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-label>Età</mat-label>
              <mat-select id="age" formControlName="age">
                <mat-option *ngFor="let age of ageList" [value]="age.value">
                  {{age.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-label>Sesso</mat-label>
              <mat-select id="gender" formControlName="gender">
                <mat-option *ngFor="let sex of sexList" [value]="sex.value">
                  {{sex.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button="" color="form" type="submit">Salva</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <br/>

  <form class="form-container">
    <mat-card>

      <mat-card-header class="title-centered">
        <mat-card-title>Cambio Password</mat-card-title>
      </mat-card-header>

      <br/>

      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput="" placeholder="Password">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input matInput="" placeholder="Conferma Password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button="" color="form">Salva</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
