.title-centered {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.full-width {
  width: 100%;
}

.form-container {
  margin: 0;
}

.mat-form {
  color: var(--fc-button-text-color);
  border-color: var(--fc-button-border-color);
  background-color: var(--fc-button-border-color);
}

.mat-form:hover {
  color: var(--fc-button-text-color);
  border-color: var(--fc-button-active-bg-color);
  background-color: var(--fc-button-active-bg-color);
}

.link-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
