/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.general-content {
  height: calc(100vh - 65px);
  padding: 20px;
  border-radius: 10px;
}

.fc, .fc-daygrid-day-number, .fc-col-header-cell-cushion, .fc-event-title, .fc-event-time {
  color: black;
  text-decoration: none;
}


