<mat-sidenav-container class="sidebar-container">

  <mat-sidenav class="sidebar">

    <img class="sidebar-avatar mat-elevation-z8" src="https://compass-media.vogue.it/photos/60f05b0899a003d298c3ca50/2:3/w_1920,c_limit/Thimothe%CC%81%20Chalamet%20Cannes%202021.jpg">
    <h4 class="sidebar-name">{{sidebarService.userInformation.name}} {{sidebarService.userInformation.surname}}</h4>
    <p class="sidebar-email">{{sidebarService.userInformation.email}}</p>

    <mat-divider class="sidebar-divider"></mat-divider>

    <p class="sidebar-designation">Software Engineer</p>

    <mat-divider class="sidebar-divider"></mat-divider>

    <button mat-button class="sidebar-menu-button" (click)="sidebarService.actionHome()">
      <mat-icon>home</mat-icon>
      <span>{{fields.sidebarContainerHomeButtonText}}</span>
    </button>
    <button mat-button class="sidebar-menu-button" (click)="sidebarService.actionProfile()">
      <mat-icon>person</mat-icon>
      <span>{{fields.sidebarContainerProfileButtonText}}</span>
    </button>

    <mat-divider class="sidebar-divider"></mat-divider>

    <button mat-button class="sidebar-menu-button" (click)="sidebarService.actionLogout()">
      <mat-icon>logout</mat-icon>
      <span>{{fields.sidebarContainerLogoutButtonText}}</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidebar-content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
