.sidebar {
  margin: 16px;
  width: 300px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.sidebar-container {
  height: calc(100vh - 65px);
}

.sidebar-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.sidebar-avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar-name {
  margin: 8px 0 0;
  font-weight: normal;
}

.sidebar-designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}

.sidebar-email {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}
